@model Web.Models.MeciModel

@{
		ViewBag.Title = "Scor";
}

<center>
	<div>
		<span class="scor-stanga">@Model.Echipa1</span> - <span class="scor-dreapta">@Model.Echipa2</span>
	</div>
	<div>
		<span class="scor-stanga">@Model.Goluri1</span> - <span class="scor-dreapta">@Model.Goluri2</span>
	</div>
	@using (Html.BeginForm())
	{
			@Html.HiddenFor(_ => _.MeciId);
			<div>
				<span class="scor-stanga">
					<input type="submit" value="+" formaction='@Url.Action("IncrementareEchipa1")' />
				</span> -
				<span class="scor-dreapta">
					<input type="submit" value="+" formaction='@Url.Action("IncrementareEchipa2")' />
				</span>
			</div>
	}
</center>

@using (Html.BeginForm("StartMeci", "Home"))
{
		@Html.HiddenFor(_ => _.MeciId);
		<input type="submit" value="Start" />
}