@model WebMvcLibrarie.Models.MCarte

@{
    ViewBag.Title = "Detalii Carte";
}

<h2>Detalii Carte</h2>

@{
    var titlu = ViewBag.Titlu;
    var carte = ViewBag.Detalii;
    <p>Titlu: @titlu </p>
    <p>Autor: @carte.autor</p>
    <p>An: @carte.an</p>
    <p>ISSN: @carte.Nr</p>
    <p>Gen: @carte.gent, @carte.genc</p>
    <p>Stare: @carte.stare1, @carte.stare2</p>
}

    @if (carte.stare2.ToString() == "Disponibila")
    {
        using (Html.BeginForm("Imprumuta", "Home", new { enctype = "multipart/form-data" }))
        {
            <p>
                <input type="hidden" value="@carte" name="carte" />
                <input type="submit" value="Imprumuta" />
            </p>
        }
    }
    else if (carte.stare2.ToString() == "Imprumutata")
    {
        using (Html.BeginForm("Restituie", "Home", new { enctype = "multipart/form-data" }))
        {
            <p>
                <input type="hidden" value="@carte" name="carte" />
                <input type="submit" value="Restituie" />
            </p>
        }
    }

    @using (Html.BeginForm("Adaugare", "Home", FormMethod.Post))
    {
        <p>
            <input type="submit" value="Adauga" />
        </p>
    }

@using (Html.BeginForm("Cumpara", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <p>
        <input type="hidden" value="@carte" name="carte" />
        <input type="submit" value="Cumpara" />
    </p>
}

