@model List<WebMvcLibrarie.Models.MCarte>

@{
    ViewBag.Title = "Home Page";
}

<div class="action-bar">
    @using (Html.BeginForm("Autentif", "Home", new { enctype = "multipart/form-data" }))
    {
        <a href="~/Views/Home/VAutentif.cshtml">Autentificare | </a> @Html.ActionLink("Aut", "Autentificare")
        <a href="~/Views/Home/VInreg.cshtml">Inregistrare</a>  @Html.ActionLink("Inreg", "Inregistrare")
    }
</div>

<h3 >LIB.net</h3>

<div class="cautare">
    @using (Html.BeginForm("Cautare", "Home", new { enctype = "multipart/form-data" }))
    {
        <input type="text" name="cauta_carte" />
        <input type="submit" value="Cauta" />
    }
</div>




    @foreach (var carte in Model)
    {
        <div class="poza">
            <div class="thumbnail">
                @if (!string.IsNullOrWhiteSpace(carte.titlu))
                {
                    //   <img src="@poza.ThumbnailUrl" />
                    <a href="">@carte.titlu</a><br />
                }
                else
                {
                    <span>no title</span>
                }
            </div>
            <div class="details">
                <h3 class="description">@carte.titlu</h3>

                @if (!string.IsNullOrWhiteSpace(poza.Url))
                {
                    <a href="">Descarca</a>
                    using (Html.BeginForm("AdaugaComentarii", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        <p>
                            Comentarii: <br />
                            <!--            Html.TextArea("Comentarii")
                                       <br /><br />
                                       Utilizator:  Html.TextBox("Utilizator")  -->
                            <input type="text" name="Comentarii" />
                            <br /><br />
                            Utilizator:
                            <input type="text" name="Utilizator" />
                            <input type="hidden" value="@poza.Description" name="Descriere" />
                            <input type="submit" value="Adauga comentarii" />
                        </p>
                    }

                    using (Html.BeginForm("VizualizeazaComentarii", "Home", new { enctype = "multipart/form-data" }))
                    {
                        <br />
                        <input type="hidden" value="@poza.Description" name="Descriere" />
                        <input type="submit" value="Vizualizeaza comentarii" />
                    }

                    using (Html.BeginForm("GetLink", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        <br />
                        <input type="hidden" value="@poza.Description" name="Descriere" />
                        <input type="submit" value="Link acces poza" />
                    }
                }

                // <h2>comment</h2>

                else
                {
                    <span> no download URL</span>
                }

            </div>
        </div>
    }
